*~
*.address
*.bak
*.cache
*.default
*.db
*.egg-info
*.log
*.patch
*.pid
*.pstats
*.pyc
*.pyo
*.ses
*.swp

__pycache__

build/
dist/
_build/

.DS_Store

Cache/
Logs/
ErrorMsgs/
Sessions/

Webware-for-Python-*

.idea/
.tox/
.venv/
.venv.*/
