*~
*.address
*.bak
*.cache
*.default
*.egg-info
*.log
*.patch
*.pid
*.pstats
*.pyc
*.pyo
*.ses
*.swp

__pycache__

build/
dist/
_build/

Thumbs.db
.DS_Store

Cache/
Logs/
ErrorMsgs/
Sessions/

.idea/
.tox/
.venv/
