# Application.config file for Webware for Python

# The password for the Admin context:
AdminPassword = ''  # you cannot log in with an empty password

PrintConfigAtStartUp = True

PlugIns = ['MiscUtils', 'WebUtils', 'TaskKit', 'UserKit', 'PSP']

# Servlets to be used as directory index in search order:
DirectoryFile = ['index', 'Index', 'main', 'Main']
# The following extensions will be ignored:
ExtensionsToIgnore = {
    '.pyc', '.pyo', '.tmpl', '.bak', '.py_bak',
    '.py~', '.psp~', '.html~', '.tmpl~'
}
# If specified, only extensions in this list will be served:
ExtensionsToServe = []  # no limitation
UseCascadingExtensions = True
ExtensionCascadeOrder = ['.py', '.psp', '.html']
# The following extensions are used for PSP files:
ExtensionsForPSP = ['.psp']
# Files matching these patterns will be ignored:
FilesToHide = {
    '.*', '*~', '*.bak', '*.py_bak', '*.tmpl',
     '*.pyc', '*.pyo', '__init__.*', '*.config'
}
# If specified, only files matching these patterns will be served:
FilesToServe = []  # no limitation

# Logging:
LogDir = 'Logs'
AppLogFilename = None if Development else 'Application.log'

LogActivity = False
ActivityLogFilename = 'Activity.csv'
ActivityLogColumns = [
    'request.remoteAddress', 'request.method', 'request.uri',
    'response.size', 'servlet.name', 'request.timeStamp',
    'transaction.duration', 'transaction.errorOccurred'
]

# Contexts:
Contexts = {}
Contexts['Examples'] = WebwarePath + '/Examples'
Contexts['Admin'] = WebwarePath + '/Admin'
Contexts['Testing'] = WebwarePath + '/Testing'
Contexts['default'] = 'Examples'

# Sessions:
SessionStore = 'Dynamic'  # can be File, Dynamic, Memcached, Memory, Redis or Shelve
SessionStoreDir = 'Sessions'
SessionTimeout = 60  # minutes
SessionPrefix = None  # no prefix for session IDs
SessionName = '_SID_'  # name of the field holding the session ID
# Maximum number of sessions in memory:
MaxDynamicMemorySessions = 10000
# Time in minutes when to move sessions from memory to disk:
DynamicSessionTimeout = 15
# Set to False if sessions should be saved only when dirty:
AlwaysSaveSessions = True
# Set to False if sessions should not be retained when the server stops:
RetainSessions = True
# The session ID can be prefixed with "hostname" or any other string:
SessionPrefix = None  # no prefix to session ID
IgnoreInvalidSession = True
UseAutomaticPathSessions = False
UseCookieSessions = True
# If you rewrite the URL, you may need to specify this explicitly:
SessionCookiePath = None  # the servlet path is used if not specified
SecureSessionCookie = True  # use a secure cookie for HTTPS connections
HttpOnlySessionCookie = True  # session cookie should be HttpOnly
SameSiteSessionCookie = 'Strict'  # set SameSite attribute on session cookie

# Set this to True to allow extra path info to be attached to URLs
ExtraPathInfo = False  # no extra path info

# Caching:
CacheServletClasses = not Development  # set to False for debugging
CacheServletInstances = not Development  # set to False for debugging
ReloadServletClasses = Development  # set to True for quick and dirty reloading
# Directory for storing compiled PSP templates:
CacheDir = 'Cache'
# Set to True to clear the PSP cache on disk when the application starts:
ClearPSPCacheOnStart = False
# The encoding for PSP files and compiled PSP servlets in the cache:
PSPFileEncoding = 'utf-8'

# Error handling:
ShowDebugInfoOnErrors = Development
EnterDebuggerOnException = False
IncludeEditLink = True
IncludeFancyTraceback = False
FancyTracebackContext = 5
UserErrorMessage = '''
The site is having technical difficulties with this page. An error has
been logged, and the problem will be fixed as soon as possible. Sorry!
'''
LogErrors = True
ErrorLogFilename = 'Errors.csv'
SaveErrorMessages = True
ErrorMessagesDir = 'ErrorMsgs'
# Enable Error-Emails:
EmailErrors = False
# Be sure to review the following settings when enabling error e-mails:
ErrorEmailServer = 'localhost'
EmailErrorReportAsAttachment = False
ErrorEmailHeaders = {
    'From': 'webware@mydomain',
    'To': ['webware@mydomain'],
    'Reply-To': 'webware@mydomain',
    'Content-Type': 'text/html',
    'Subject': '[Webware Error]',
}
ErrorPage = None  # read the documentation on how to create custom error pages
MaxValueLengthInExceptionReport = 500
RPCExceptionReturn = 'traceback'  # can be occurred, exception or traceback
# Set to False if you don't want to have exceptions in RPC servlets be reported
# in the logs and/or by email:
ReportRPCExceptionsInWebware = True

UnknownFileTypes = {
    'ReuseServlets': True,
    'Technique': 'serveContent',  # can be serveContent or redirectSansScript
    'CacheContent': False,
    'MaxCacheContentSize': 128*1024,
    'ReadBufferSize': 32*1024
}

OutputEncoding = 'utf-8'
ResponseBufferSize = 8 * 1024  # 8 kBytes
RunTasks = True
WSGIWrite = True  # use write callable with WSGI
